.team-name {
    background-color: #929aab;
    text-align: center;
    color: white;
    padding: 5px 0px;
    font-size: 15px;
    margin: 0px;
}

.team-name-input {
    background-color: #eeeeef;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}